{% extends "base.html" %}
{% load static %}
{% block title %}{{ title | capfirst}}{% endblock title %}
{% block styles %}
<link href="{% static 'custom.css' %}" rel="stylesheet">
{% endblock styles %}
{% block content %}
<div class="row">
    <div class="mt-2 col-md-6">
        <h3 class="p-2">{{ list_pokemons | capfirst}}</h3>
        <div class="row">
            {% for pokemon in pokemons %}
            <div class="col-md-12 col-lg-6 pb-3">
                <div class="card card-custom bg-white border-white border-0">
                    <div class="card-custom-img" style="background-image: url({{pokemon.picture.url}});background-color: #e3ecf8 !important;"></div>
                    <div class="card-custom-avatar">
                        <img class="img-fluid" src="{% static 'tipo_'|add:pokemon.type|lower|add:'.png' %}" alt="{{ pokemon.tipo }}">
                    </div>
                    <div class="card-body" style="overflow-y: auto">
                        <h4 class="card-title">{{ pokemon.name }}</h4>
                        <p class="card-text">{{ pokemon.description|truncatechars:60 }}</p>
                    </div>
                    <div class="card-footer" style="background: inherit; border-color: inherit;">
                        <a href="pokemon/{{pokemon.id}}" class="btn btn-primary">Ver pokemon</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="mt-2 col-md-6">
        <h3 class="p-2">{{ list_trainers | capfirst}}</h3>
        <div class="row">
            {% for trainer in trainers %}
            <div class="col-md-12 col-lg-6 pb-3">
                <div class="card card-custom bg-white border-white border-0">
                    <div class="card-custom-img" style="background-image: url({{trainer.picture.url}});background-color: #f8e3e3 !important;"></div>
                    <div class="card-body" style="overflow-y: auto">
                        <h4 class="card-title">{{ trainer.name }}</h4>
                        <p class="card-text">{{ trainer.description|truncatechars:60 }}</p>
                    </div>
                    <div class="card-footer" style="background: inherit; border-color: inherit;">
                        <a href="entrenador/{{trainer.id}}" class="btn btn-secondary">Ver entrenador</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}